<section id="profile">
  <div class="container p-5">
    <h4 class="display-4">
      my-profile
    </h4>
    <hr>
    <div *ngIf="!dataser.user" class="m-auto">
      <h1 class="text-center display-3 mt-5">
        <i class="fa fa-spinner fa-spin"></i>
      </h1>
    </div>
    <div *ngIf="dataser.user" class="row mt-5">
      <div class="col-md-3">
        <img [src]="dataser.user.picture" alt="" class="rounded-circle image">
      </div>
      <div class="col-md-8 ml-3">
        <p id="name" class="lead">{{dataser.user.name}}</p>
        <a routerLink="/profile/orders" class="btn btn-warning">My Orders</a>
        <br>
        <br>
         <a routerLink="/profile/setting" class="btn btn-warning">change account Settings</a>
         <br>
         <br>
         <a routerLink="/profile/address" class="btn btn-warning"> Chanage shipping address</a>
         <br>
         <br>
         <div *ngIf="dataser.user.isSeller">
            <p class="lead">Seller action</p>
            <hr>
            <div class="row">
              <div class="col-md-6 mb-3">
                <a routerLink="/profile/postProducts" class="btn btn-outline-success btn-block"> post product for sale</a>
              </div>
              <div class="col-md-6">
                <a routerLink="/profile/myproducts" class="btn btn-outline-info btn-block">My Products</a>
              </div>
            </div>
         </div>
      </div>
    </div>
  </div>
</section>