<section id="home">
  <div class="container-fluid d-none d-md-block">
    <ngb-carousel>
      <ng-template ngbSlide>
      <img src="../../assets/img/ban4.jpg" alt="" class="item">
      </ng-template>
      <ng-template ngbSlide>
          <img src="../../assets/img/ban5.jpg" alt="" class="item">
          </ng-template>
              <ng-template ngbSlide>
                  <img src="../../assets/img/ban6.jpg" alt="" class="item">
                  </ng-template>
                  <ng-template ngbSlide>
                      <img src="../../assets/img/ban7.jpg" alt="" class="item">
                      </ng-template>
    </ngb-carousel>
  </div> 
</section>