<section id="home">
  <div class="container-fluid d-none d-md-block">
    <ngb-carousel>
      <ng-template ngbSlide>
      <img src="../../assets/img/ban4.jpg" alt="" class="item">
      </ng-template>
      <ng-template ngbSlide>
          <img src="../../assets/img/ban5.jpg" alt="" class="item">
          </ng-template>
              <ng-template ngbSlide>
                  <img src="../../assets/img/ban6.jpg" alt="" class="item">
                  </ng-template>
                  <ng-template ngbSlide>
                      <img src="../../assets/img/ban7.jpg" alt="" class="item">
                      </ng-template>
    </ngb-carousel>
  </div> 
  <div class="container p-5">
    <app-message></app-message>
    <p class="lead">
      <b > Recommended Deals:</b>
    </p>
    <div class="row">
      <div *ngIf="!products" class="m-auto">
        <h1 class="text-center display-3 mt-5">
          <i class="fa fa-spinner fa-spin"></i>
        </h1>
      </div>
      <div *ngFor="let product of products" class="col-md-3 mb-5">
        <a routerLink="/product/{{product._id}}">
          <div class="card bg-light">
            <img [src]="product.image" alt="" srcset="" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">
                {{product.title}}
              </h5>
              <p class="card-text ">{{product.price |currency}}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>