
<section id="categories">
  <div class="container p-5">
    <app-message></app-message>
    <h4 class="display-4"></h4>
    <hr>
    <div *ngIf="!categories" class="m-auto">
        <h1 class="text-center display-3 mt-5">
          <i class="fa fa-spinner fa-spin"></i>
        </h1>
    </div>
    <div class="list-group">
        <a *ngFor="let category of categories" routerLink="/categories/{{category._id}}" class="list-group-item list-group-item-action">
          {{category.name}}
        </a>
    </div>
    <hr style="margin-top :15rem;">
    <div class="card bg-light mt-5">
      <div class="card-body">
        <h4 class="card-title">add new categiroes</h4>
        <hr>
        <div class="form">
          <div class="form-group">
            <label for="" class="">categories</label>
            <input type="text" name="newCategory" id="" class="form-control" placeholder="new categories added here" [(ngModel)]="newCategories" aria-describedby="helpId">
            
          </div>
          <button type="button" class="btn btn-info" (click)="addCategories()" [disabled]="btDiabled">add categories</button>
        </div>
      </div>
    </div>
  </div>
</section>