<section id="registrationPage">
  <div class="container  p-5">
    <div class="row mt-5">
        <div class="col-lg-4 offset-lg-4">
          <app-message></app-message>
          <div class="card bg-light">
            <div class="card-body">
              <h4 class="text-center">
                  Registraion
              </h4>
              <form>
                  <div class="form-group">
                    <label for="" class="form-control-lable">Name</label>
                    <input type="text" name="name" class="form-control" [(ngModel)]="name" placeholder="name">
                  </div>
                  <div class="form-group">
                      <label for="" class="form-control-lable">email</label>
                      <input type="text" name="email"  class="form-control" [(ngModel)]="email" placeholder="name">
                    </div>
                    <div class="form-group">
                        <label for="" class="form-control-lable">passsword</label>
                        <input type="password" name="password" class="form-control" [(ngModel)]="password" placeholder="name">
                      </div>
                      <div class="form-group">
                          <label for="" class="form-control-lable">conform password</label>
                          <input type="password" name="password1" class="form-control" [(ngModel)]="password1" placeholder="name">
                        </div>
                        <div class="form-check">
                          <label for="" class="form-check-lable"></label>
                          <input type="checkbox" name="isSeller" class="form-check-input" [(ngModel)]="isSeller" >Register as Seller
                        </div> 
                        <hr>
                        
                        <button type="button " class="btn btn-primary btn-block " (click)="register()" [disabled]="btnDisabled">Registraion</button>
              </form>
            </div>
          </div>
          
          </div>
    </div>
  </div>
</section>